{% extends "viewer/base.html" %}
{% load staticfiles %}

{% block title%}
NEWS LIST
{% endblock%}
{% block extraheader %}
<link rel="stylesheet" href='{% static "css/styles.css" %}' />
<script type="text/javascript" src='{% static "js/list.js"%}'></script>
<script type="riot/tag" src='{% static "js/news_card.html"%}'></script>


{% endblock %}
{% block content %}
        <main class="mdl-layout__content">
                <news-card></news-card>
        </main>

<script>

axios.get('/backend/article.json')
    .then(function (response) {
        console.log(JSON.stringify(response, null, 4));
        var articleList = response.data;
        riot.mount("news-card", {
            newsDataList: articleList
        });
    }).catch(function (error) {
        console.log(error);
    });


</script>

{% endblock %}